.instal-progress-bar-outer {
	height: 32px;
	border:1px solid;
	border-color:#9ba6a8 #b1bbbe #bbc5c9 #b1bbbe;
	-webkit-box-shadow: 1px 1px 0 #fff, inset 0 2px 2px #c0cbce;
	box-shadow: 1px 1px 0 #fff, inset 0 2px 2px #c0cbce;
	background-color:#cdd8da;
	background-image:-webkit-linear-gradient(top, #cdd8da, #c3ced1);
	background-image:-moz-linear-gradient(top, #cdd8da, #c3ced1);
	background-image:-ms-linear-gradient(top, #cdd8da, #c3ced1);
	background-image:-o-linear-gradient(top, #cdd8da, #c3ced1);
	background-image:linear-gradient(to bottom, #ced9db, #c3ced1);
	border-radius: 2px;
	text-align: center;
	color: #6a808e;
	text-shadow: 0 1px rgba(255,255,255,0.85);
	font-size: 18px;
	line-height: 35px;
	font-weight: bold;
}

.instal-progress-bar-alignment {
	height: 28px;
	margin: 0 2px;
	position: relative;
}

.instal-progress-bar-inner {
	height: 28px;
	border-radius: 2px;
	border-top: solid 1px #52b9df;
	background-color:#2396ce;
	background-image:-webkit-linear-gradient(top, #27a8d7, #2396ce, #1c79c0);
	background-image:-moz-linear-gradient(top, #27a8d7, #2396ce, #1c79c0);
	background-image:-ms-linear-gradient(top, #27a8d7, #2396ce, #1c79c0);
	background-image:-o-linear-gradient(top, #27a8d7, #2396ce, #1c79c0);
	background-image:linear-gradient(to bottom, #27a8d7, #2396ce, #1c79c0);
	position: absolute;
	overflow: hidden;
	top: 2px;
	left:0;
}

.instal-progress-bar-inner-text {
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.2);
	font-size: 18px;
	line-height: 32px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	left: -2px;
	top: -2px;
}

.vettich-devform-overlay{
	background-color: #000;
	opacity: 0.30;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.vettich-btn-save,
input[type="submit"].vettich-btn-save {
	background-color: #86ad00 !important;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.25), inset 0 1px 0 #cbdc00;
	box-shadow: 0 1px 1px rgba(0,0,0,.25), inset 0 1px 0 #cbdc00;
	border: solid 1px;
	border-color: #97c004 #7ea502 #648900;
	background-image: -webkit-linear-gradient(bottom, #729e00, #97ba00) !important;
	background-image: -moz-linear-gradient(bottom, #729e00, #97ba00) !important;
	background-image: -ms-linear-gradient(bottom, #729e00, #97ba00) !important;
	background-image: -o-linear-gradient(bottom, #729e00, #97ba00) !important;
	background-image: linear-gradient(bottom, #729e00, #97ba00) !important;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	-webkit-font-smoothing: antialiased;
	padding: 0px 13px 2px;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 13px;
	height: 29px;
	text-decoration: none;
	position: relative;
	vertical-align: middle;
	margin-right: 10px;
	outline: none;
}

.vettich-btn-save:hover,
input[type="submit"].vettich-btn-save:hover {
	background-color: #9ec710 !important;
	background-image: -webkit-linear-gradient(top, #acce11, #8abb0d) !important;
	background-image: -moz-linear-gradient(top, #acce11, #8abb0d) !important;
	background-image: -ms-linear-gradient(top, #acce11, #8abb0d) !important;
	background-image: -o-linear-gradient(top, #acce11, #8abb0d) !important;
	background-image: linear-gradient(top, #acce11, #8abb0d) !important;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 #d5e71a inset;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 #d5e71a inset;
	border-color: #97c004 #7ea502 #648900;
	text-decoration: none;
}

.vettich-btn-save .adm-btn-load {
	border-radius: inherit;
	border: inherit;
	background: inherit;
	box-shadow: inherit;
	color: inherit;
	cursor: inherit;
	height: inherit;
	text-shadow: inherit;
	padding: inherit;
}

.textarea_select{
	display: none;
	position: relative;
}

.textarea_select .items {
	display: none;
	position: fixed;
	background-color: #e0e8ea;
	padding: .4em 0.1em;
	margin-top: 3px;
	overflow: auto;
	max-height: 86%;
	z-index: 1000;
}

.textarea_select .items > div {
	cursor: pointer;
	background-color: white;
	border-radius: 2px;
	margin-bottom: 3px;
	margin-top: 3px;
	padding: 0.3em 1em;
}

.textarea_select .items > div:hover {
    background-color: #c6d1d4;
}

.textarea_select .items > span {
	font-style: italic;
	font-weight: bold;
}

.textarea_select .adm-btn {
    padding: 0 1em;
}

.textarea_select .adm-btn:active{
    padding: 0 1em;
}

div.adm-btn {
	line-height: 2em !important;
	padding: 0 1em !important;
}
div.adm-btn:active {
	padding: 0 1em !important;
}

body.shadow:after {
	content: "";
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 100;
}


.voptions-help{
	position: relative;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	/*color: #222;*/
	outline: none;
}

.voptions-help-btn::before {
	content: "(?)";
}

.voptions-help .voptions-help-text{
	text-align: left;
	visibility: hidden;
	position: absolute;
	bottom: 20px;
	/*left: 50%;*/
	z-index: 999;
	min-width: 230px;
	margin-left: -127px;
	padding: 10px;
	/*border-color: #A2A6AD #989CA1 #8E9398;*/
	/*opacity: .9;*/
	/*background: transparent linear-gradient(to bottom, rgba(227, 233, 234, 0.99), rgba(198, 210, 213, 0.99)) repeat scroll 0% 0%;*/
	background-color: rgb(227,233, 234);
	/*-moz-border-radius: 4px;*/
	/*border-radius: 4px;*/
	-moz-box-shadow: 4px 4px 12px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
	-webkit-box-shadow: 4px 4px 12px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
	box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25) !important;
}

.voptions-help:hover .voptions-help-text{
	visibility: visible;
}

/*.voptions-help .voptions-help-text:before,*/
/*.voptions-help .voptions-help-text:after
{
	content: "";
	position: absolute;
	z-index: 1000;
	bottom: -7px;
	left: 50%;
	margin-left: -8px;
	border-top: 8px solid rgb(227,233, 234);
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 0;  
}*/

/*.voptions-help .voptions-help-text:before
{
	border-top-color: #ccc;
	bottom: -8px;
}*/

tr.hidden {
	display: none;
}

tr.heading {
	cursor: pointer;
}
tr.heading:hover td {
	background-color: #e0eaec;
}

tr.heading.hidden {
	display: table-row;
}

tr.heading.hidden td {
	background-color: #d2dcde;
}
tr.heading.hidden:hover td {
	background-color: #d3dee1;
}
